* {
  background-color: #2b2923;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  max-width: 1500px;
  margin: auto;
  overflow: hidden;
}
/* Navbar  */
nav {
    height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav ul {
  display: flex;
  font-size: 17px;
  color: #847f70;
}
nav ul li {
  list-style: none;
  margin: 25px;
}
nav div {
  display: flex;
  align-items: center;
}
nav button {
  color: #dab915;
  border: 1px solid #dab915;
  border-radius: 10px;
  padding: 13px 22px;
  font-size: 20px;
  font-weight: 600;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 85vh;
}
.topsection{
    display: flex;
    margin: 50px;
    align-items: center;
    justify-content: space-evenly;
}
h1{
    font-size: 70px;
    width:40%;
  color: #ffffff;

    /* border: 1px solid red */
}
p{
    width: 30%;
    line-height: 2rem;
    font-size: 22px;
    color: #cbc5ac;
}
.bottomsection img{
 height: 500px;   
}