/* You can not modify anything in the HTML */
/* You can only modify the CSS file */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  margin: auto;
  background-color: #000000;
  color: #ffffff;
  /* overflow: hidden; */
}
nav img{
    height:40px;
    margin-right: 35px;
}
.line{
    border-left: 1px solid #ffffff;
    height: 50px;
    margin: 3%;
}
nav {
    display: flex;
    align-items: center;
    height: 14vh;
}
nav ul{
    display: flex;
    font-size: 20px;
    margin: 10%;
}
nav ul li{
    list-style-type: none;
    margin: 10%;
 }
 nav button{
    margin-left: 600px;
    padding: 12px 34px;
    border-radius: 9px;
    color: #ffffff;
    background-color: #BA0CC5;
    font-weight: bold;
}
.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 85vh;
    background-image: url(./assets/bg.png);
}
h1{
    width: 65%;
    font-size: 90px;
    margin-top: 150px;
    margin-bottom: 15px;
    text-align: center;
    /* border: 1px solid red; */
}
p{
    font-size: 30px;
    font-weight: bold;
}
.hero button{
    padding: 20px 50px;
    border-radius: 9px;
    color: #ffffff;
    background-color: #BA0CC5;
    font-weight: bold;
    font-size: 25px;
    border: none;
    margin-top:30px
}